/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #e60e32;
    color: #2447c7;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #b724c7;
    color: #3fd963;
    padding: 50px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  .features, .installation, .cta {
    padding: 30px 0;
    text-align: center;
  }
  
  .features h2, .installation h2, .cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  code {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
  }
  
  button, .cta a {
    background-color: #d9543f;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  button:hover, .cta a:hover {
    background-color: #72d93f;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    font-size: 1rem;
  }
  
